# Ignore everything
*

# Whitelist specific folders or files
!.vscode/


# go to submodules
# celeritas/
# celeritas-boilerplate/

# Whitelist important root files
!.gitignore
!go.work
!docker-compose.yml
!Makefile
!README.md