[submodule "celeritas"]
	path = celeritas
	url = https://github.com/ansufw/celeritas.git
[submodule "celeritas-boilerplate"]
	path = celeritas-boilerplate
	url = https://github.com/ansufw/celeritas-boilerplate.git
[submodule "celeritas-ext"]
	path = celeritas-ext
	url = https://github.com/ansufw/celeritas-ext.git
