# Ignore everything
*

# Whitelist specific folders or files
!.vscode/
!.vscode/**



# go to submodules
# celeritas/
# celeritas-boilerplate/
!celeritas-ext/
!celeritas-ext/**

# Whitelist important root files
!.gitignore
!go.work
!docker-compose.yml
!Makefile
!README.md